/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/*Importing font*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

* {
  font-family: 'Lato', sans-serif;
}

.lato-r {
  font-weight: 400;
}

.lato-bo {
  font-weight: 700;
}

.lato-bl {
  font-weight: 900;
}

ion-button {
  --color: var(--ion-color-dark);
  --color-activated: var(--ion-color-dark);
  --color-focused: var(--ion-color-dark);
  --color-hover: var(--ion-color-dark);
}

ion-toggle {
  --handle-background: no-repeat center/80% url("data:image/svg+xml,%3Csvg viewBox='0 0 50 50' xmlns='http://www.w3.org/2000/svg' %3E%3Cstyle%3E .small %7B font: 30px sans-serif; fill: black%7D %7D %3C/style%3E%3Ctext x='50%25' y='50%25' alignment-baseline='central' text-anchor='middle' class='small'%3EM%3C/text%3E%3C/svg%3E");
  --handle-background-checked: no-repeat center/80% url("data:image/svg+xml,%3Csvg viewBox='0 0 50 50' xmlns='http://www.w3.org/2000/svg'%3E%3Cstyle%3E .small %7B font: 30px sans-serif; fill: white;%7D %7D %3C/style%3E%3Ctext x='50%25' y='50%25' alignment-baseline='central' text-anchor='middle' class='small'%3EA%3C/text%3E%3C/svg%3E");
}