<ion-grid
  class="card-grid">
  <ion-row class="icon-row">
    <img class="card-icon" src={{parameter.path}} />
    <ion-toggle
      class="card-toggle manual-auto"
      [(ngModel)]="toggles[parameter.id]"
      mode="ios">
    </ion-toggle>
  </ion-row>
  <ion-row class="card-row" [class.disabled]="toggles[parameter.id]">
    <ion-card class="slide-card">
      <ion-card-title class="lato-bl title">
        {{ parameter.name }}
      </ion-card-title>
      <ion-card-subtitle class="lato-bo subtitle">
        {{ values[parameter.id] }}
      </ion-card-subtitle>
    </ion-card>
  </ion-row>
</ion-grid>
