.homepage {
  height: 100vh;
  width: 100vw;
  background-color: var(--ion-color-dark);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.dashboard {
  height: 720px;
  width: 600px;
  padding: 2em;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  background-color: #fff;
  border: solid 1px black;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 2%;
}

.page-title {
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.mode-container {
  margin: 1rem;
}

.mode-text {
  font-size: 1.2rem;
}

.toggle-text {
  margin: 1rem 2rem;
}

.main-toggle {
  zoom: 1.5;
}

.toggle-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.side-card {
  width: 160px;
  height: 100px;
  border: solid 1px black;
  margin: 10px;
}

.cards-container {
  margin-top: 1rem;
}
