<ion-header translucent class="ion-no-border">
  <ion-toolbar>
    <ion-title class="lato-bl title">
      PREFERENCES
    </ion-title>
    <ion-buttons slot="end">
      <button (click)="closeModal()">
        <ion-icon class="close-btn" name="close-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <ion-list mode="ios">
      <ion-list-header class="lato-bo li-header">
        General
      </ion-list-header>
      <ion-item disabled>
        <ion-checkbox
          color="dark"
          [(ngModel)]="formData[0]"
          slot="start">
        </ion-checkbox>
        <ion-label class="list-label">Enable remote access</ion-label>
      </ion-item>
    </ion-list>

    <ion-list mode="ios">
      <ion-list-header class="lato-bo li-header">
        Automatic mode
      </ion-list-header>
      <ion-item>
        <ion-checkbox
          color="dark"
          slot="start"
          [(ngModel)]="formData[1]">
        </ion-checkbox>
        <div class="list-label-1">
          Turn on lights in case of overcast (95% clouds)</div>
      </ion-item>
      <ion-item>
        <ion-checkbox
          color="dark"
          slot="start"
          [(ngModel)]="formData[2]">
        </ion-checkbox>
        <ion-label class="list-label">Turn on lights daily at sunset</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox
          color="dark"
          slot="start"
          [(ngModel)]="formData[3]">
        </ion-checkbox>
        <ion-label class="list-label">
          Turn on lights daily at
          <ion-datetime
            [class.disable-time]="!formData[3]"
            displayFormat="HH:mm"
            pickerFormat="HH:mm"
            [(ngModel)]="formData[4]"
            placeholder={{this.hourNow}}
          ></ion-datetime>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox
          color="dark"
          [(ngModel)]="formData[5]"
          slot="start">
        </ion-checkbox>
        <ion-label class="list-label">
          Turn off lights daily at
          <ion-datetime
            [class.disable-time]="!formData[5]"
            displayFormat="HH:mm"
            pickerFormat="HH:mm"
            [(ngModel)]="formData[6]"
            placeholder={{this.hourNow}}>
          </ion-datetime>
        </ion-label>
      </ion-item>
    </ion-list>
    <div class="btn-div">
    <ion-button class="main-btn lato-bo" (click)="saveChanges()">
      SAVE CHANGES
    </ion-button>
  </div>
</ion-content>
