.title {
  padding-top: 1rem;
  font-size: 1.4em;
  letter-spacing: 1px;
}

.close-btn {
  padding-right: 1rem;
  font-size: 1.8rem;
}

.li-header {
  font-size: 1.3rem;
}

ion-content {
  padding: 1rem;
}

.list-label {
  padding: 0.5rem 0;
}