<ion-content>
  <div class="homepage">
    <div class="dashboard">
      <ion-text class="page-title lato-bl">DASHBOARD</ion-text>

      <div class="mode-container">
        <div class="mode-text lato-bo">Mode:</div>
        <div class="toggle-container">
          <ion-text class="lato-r toggle-text">MANUAL</ion-text>
          <ion-toggle
            class="main-toggle"
            mode="ios"
            (ionChange)="onMainToggle()"
            [(ngModel)]="this.mainToggle">
          </ion-toggle>
          <ion-text class="lato-r toggle-text">AUTOMATIC</ion-text>
        </div>
      </div>

      <div class="cards-container">
        <ion-slides class="card-slides" [options]="slideOptions">
          <!-- LIGHTS SIDE CARD -->
          <ion-slide class="card-slide" [class.disabledBackground]="lightsToggle">
            <ion-grid class="card-grid">
              <ion-row class="icon-row">
                <img class="card-icon" src="assets/custom/lights-icon.svg" />
                <ion-toggle
                  checked="lightsToggle"
                  class="card-toggle"
                  [(ngModel)]="this.lightsToggle"
                  mode="ios">
                </ion-toggle>
              </ion-row>
              <ion-row class="card-row" [class.disabled]="lightsToggle">
                <ion-card class="sensor-card-lights">
                  <ion-card-title class="lato-bl title">
                    LIGHTS
                  </ion-card-title>
                  <ion-card-subtitle class="lato-bo subtitle">
                    {{ this.lightsValue }}
                  </ion-card-subtitle>
                </ion-card>
              </ion-row>
            </ion-grid>
          </ion-slide>

          <ion-slide class="card-slide" *ngFor="let p of parameter">
            <app-side-card
              [parameter]="p"
              [lightsBtn]="lightsToggle"
              class="card-component">
            </app-side-card>
            <!-- (toggleEvent)="changeToggleFromChild($event)" -->
          </ion-slide>
        </ion-slides>

        <!-- LIGHTS ACTIVE CARD -->
        <div class="active-card" [class.disabledBackground]="lightsToggle">
          <ion-grid class="active-card-grid">

            <ion-row class="active-icon-row">
              <img class="active-card-icon" src="assets/custom/lights-icon.svg" />
            </ion-row>
            <ion-row class="active-card-title">
              <ion-text
                class="active-card-title lato-bl"
                [class.disabled]="lightsToggle">
                LIGHTS
              </ion-text>
              <ion-toggle
                checked="lightsToggle"
                class="active-card-toggle"
                [(ngModel)]="this.lightsToggle"
                mode="ios">
                <!-- (ionChange)="changeLightsToggle()" -->
              </ion-toggle>
            </ion-row>

            <ion-row class="active-card-btn">
              <ion-button
                (click)="onClickOff()"
                [style.--background]="this.lightsValue === 'off' ? 'var(--ion-color-warning)' : 'var(--ion-color-light)'"
                class="lato-bo main-btn"
                [disabled]="lightsToggle">
                OFF
              </ion-button>
              <ion-button
                (click)="onClickOn()"
                [style.--background]="this.lightsValue === 'on' ? 'var(--ion-color-warning)' : 'var(--ion-color-light)'"
                class="lato-bo main-btn"
                [disabled]="lightsToggle">
                ON
              </ion-button>
            </ion-row>

            <ion-row class="light-1">
              <img
                [class.disabled]="lightsToggle"
                src="../../assets/custom/light-1.svg"
                class="light-icon" />
              <ion-range
                min="0"
                max="254"
                step="1"
                mode="ios"
                debounce="1000"
                pin="true"
                class="lights-slider"
                [disabled]="lightsToggle"
                [(ngModel)]="this.rangeValue"
                (ionChange)="logChange($event)">
              </ion-range>
            </ion-row>

          </ion-grid>
        </div>
      </div>
    </div>
  </div>
</ion-content>
