.homepage {
  @media (min-width: 576px) {
    height: 100vh;
    width: 100vw;
    background-color: var(--ion-color-dark);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 576px) {
    height: 100vh;
    width: 100vw;
  }
 
}

.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  background-color: #fff;
  
  @media (max-width: 768px) {
    height: 100vh;
    width: 100vw;
  }

  @media (min-width: 768px) {
    height: 720px;
    width: 600px;
    padding: 2rem;
    border: solid 1px black;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 2%;
  }

  // @media (max-width: 768px) {
  //   padding: 1rem 0.5rem 0.5rem 0.5rem;
  // }
}

.page-title {
  font-size: 1.3rem;
  letter-spacing: 1px;
  padding-left: 1rem;
  padding-top: 3vh;

  @media (min-width: 768px) {
    padding-top: 0;
  }
}

.mode-container {
  margin-top: 1rem;
  width: 100%;
}

.mode-text {
  font-size: 1.2rem;
  margin-left: 1rem;
}

.toggle-text {
  margin: 1rem;
}

.main-toggle {
  zoom: 1.4;
}

.toggle-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cards-container {
  padding: 0 1rem;
  // margin-top: 2rem;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;

}

.card-slides {
  width: 100%;
  // overflow-x: scroll;
  display: block;

}

.card-slide {
  width: 10.5rem;
  // margin: 1rem 1rem 2rem 1rem;
}

.card-component {
  width: 100%;
}

.active-slides {
  width: 100%;
}

.active-card {
  border: solid 1.5px var(--ion-color-dark);
  height: 55vh;
  width: 100%;
  border-radius: 7px;
  background-color: rgba(var(--ion-color-medium-rgb), 0.2);
  display: block;
  margin-top: 2rem;

  @media (min-width: 768px) {
    height: 45vh;
  }
}

.active-card-title {
  font-size: 2rem;
  letter-spacing: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.active-card-grid {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;

  padding-left: 1.5rem;
  padding-right: 0.5rem;
}

.active-card-icon {
  position: relative;
  z-index: 2;
  top: -1.25rem;
  left: -1rem;
}

.active-card-toggle {
  zoom: 1.1;
  position: relative;
  top: -1.25rem;
}

.active-card-btn {
  padding: 1rem 0;
  border-bottom: solid 1px var(--ion-color-medium);
  border-width: 100%;
}

.main-btn {
  --box-shadow: none;
  --border-width: 1.5px;
  --border-color: var(--ion-color-dark);
  --border-style: solid;

  width: 5.625rem;
  height: 2.5rem;
  margin-right: 2rem;
  font-size: 1.2rem;

  @media (max-width: 340px) {
    margin-right: 1rem;
  }
}

.disabledBackground {
  background-color: rgba(var(--ion-color-medium-rgb), 0.1);
}

.disabled {
  opacity: 0.7;
}

.lights-slider {
  --bar-background: var(--ion-color-medium);
  --bar-background-active: #313133;
  --bar-height: 0.5rem;
  --knob-background: #313133;
  padding-top: 0px;
  padding-bottom: 0px;
}

ion-range::part(tick) {
  color: var(--ion-color-dark);
}

.main-card-icon {
  padding-right: 1rem;
}

.light-1 {
  display: flex;
  align-items: center;
  padding-top: 1.5rem;
}


.window-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.5rem;
  padding-right: 3em;
}

.window-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2.5rem;
  padding-right: 3em;
}

.window-toggle {
  --background: var(--ion-color-medium);
  --background-checked: var(--ion-color-medium);
  --handle-background: var(--ion-color-dark);
  --handle-background-checked: var(--ion-color-dark);
}

.blinds-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.5rem;
}

