<ion-content>
  <div class="homepage">
    <div class="dashboard">
      <ion-text class="page-title lato-bl">DASHBOARD</ion-text>

      <div class="mode-container">
        <div class="mode-text lato-bo">Mode:</div>
        <div class="toggle-container">
          <ion-text class="lato-r angle toggle-text">MANUAL</ion-text>
          <ion-toggle
            class="main-toggle manual-auto"
            mode="ios"
            (ionChange)="onMainToggle()"
            [(ngModel)]="this.mainToggle">
          </ion-toggle>
          <ion-text class="lato-r angle toggle-text">AUTOMATIC</ion-text>
        </div>
      </div>

      <!-- SIDE CARDS -->
      <div class="cards-container">
        <ion-slides
          #cards
          class="card-slides"
          [options]="slideOptions"
          (ionSlideTap)="changeActiveCard()">
          <ion-slide
            class="card-slide"
            *ngFor="let p of parameter"
            [class.disabled-background]="this.parameterToggle[p.id]">
            <app-side-card
              [parameter]="p"
              [toggles]="parameterToggle"
              [values]="parameterValues"
              class="card-component">
            </app-side-card>
          </ion-slide>
        </ion-slides>


        <ion-slides
          #activeCard
          class="active-slides"
          [options]="slideOptions2">
          <!-- LIGHTS ACTIVE CARD -->
          <ion-slide
            class="active-card"
            [class.disabled-background]="this.parameterToggle[0]">
            <ion-grid class="active-card-grid">

              <ion-row class="active-icon-row">
                <img class="active-card-icon" [src]="this.parameter[0].path" />
              </ion-row>
              <ion-row class="active-card-title">
                <ion-text
                  class="active-card-title lato-bl"
                  [class.disabled]="this.parameterToggle[0]">
                  {{this.parameter[0].name}}
                </ion-text>
                <ion-toggle
                  class="active-card-toggle manual-auto"
                  [(ngModel)]="this.parameterToggle[0]"
                  mode="ios">
                  <!-- (ionChange)="changeLightsToggle()" -->
                </ion-toggle>
              </ion-row>

              <ion-row class="active-card-btn">
                <ion-button
                  (click)="onClickOff()"
                  [style.--background]="this.parameterValues[0] === 'off' ?
                  'var(--ion-color-warning)' : 'var(--ion-color-light)'"
                  class="lato-bo main-btn"
                  [disabled]="this.parameterToggle[0]">
                  OFF
                </ion-button>
                <ion-button
                  (click)="onClickOn()"
                  [style.--background]="this.parameterValues[0] === 'on' ?
                  'var(--ion-color-warning)' : 'var(--ion-color-light)'"
                  class="lato-bo main-btn"
                  [disabled]="this.parameterToggle[0]">
                  ON
                </ion-button>
              </ion-row>

              <ion-row class="brightness-row">
                <div [class.disabled]="this.parameterToggle[0]" class="lato-bo">
                  BRIGHTNESS
                </div>
              </ion-row>
              <ion-row class="light-1">
                <img
                  [class.disabled]="this.parameterToggle[0]"
                  src="../../assets/custom/light-1.svg"
                  class="main-card-icon" />
                <ion-range
                  min="0"
                  max="100"
                  step="1"
                  mode="md"
                  debounce="1000"
                  pin="true"
                  [disabled]="this.parameterToggle[0]"
                  [(ngModel)]="this.lightsRangeVal"
                  (ionChange)="sliderLightsChange($event)">
                </ion-range>
              </ion-row>
              <ion-row class="slider-text">
                <div class="lato-r angle">0</div>
                <div class="lato-r angle">100%</div>
              </ion-row>
            </ion-grid>
          </ion-slide>

          <!-- WINDOWS ACTIVE CARD -->
          <ion-slide
            class="active-card"
            [class.disabled-background]="this.parameterToggle[1]">
            <ion-grid class="active-card-grid">

              <ion-row class="active-icon-row">
                <img class="active-card-icon" [src]="this.parameter[1].path" />
              </ion-row>
              <ion-row class="active-card-title">
                <ion-text
                  class="active-card-title lato-bl"
                  [class.disabled]="this.parameterToggle[1]">
                  {{this.parameter[1].name}}
                </ion-text>
                <ion-toggle
                  class="active-card-toggle manual-auto"
                  [(ngModel)]="this.parameterToggle[1]"
                  mode="ios">
                  <!-- (ionChange)="changeLightsToggle()" -->
                </ion-toggle>
              </ion-row>

              <ion-row class="active-card-btn">
                <ion-button
                  (click)="onClickClose()"
                  [style.--background]="this.parameterValues[1] === 'closed' ?
                  'var(--ion-color-tertiary)' : 'var(--ion-color-light)'"
                  class="lato-bo main-btn"
                  [disabled]="this.parameterToggle[1]">
                  CLOSE
                </ion-button>
                <ion-button
                  (click)="onClickOpen()"
                  [style.--background]="this.parameterValues[1] === 'open' ?
                  'var(--ion-color-tertiary)' : 'var(--ion-color-light)'"
                  class="lato-bo main-btn"
                  [disabled]="this.parameterToggle[1]">
                  OPEN
                </ion-button>
              </ion-row>

              <ion-row class="window-1">
                <img
                  [class.disabled]="this.parameterToggle[1]"
                  src="../../assets/custom/window-1.svg"
                  class="window-icon" />
                <ion-text
                  class="lato-bo title"
                  [class.disabled]="this.parameterToggle[1]">
                  CLOSE
                </ion-text>
                <ion-toggle
                  class="window-toggle"
                  mode="ios"
                  (ionChange)="checkWindows()"
                  [disabled]="this.parameterToggle[1]"
                  [(ngModel)]="this.window1"></ion-toggle>
                <ion-text
                  class="lato-bo title"
                  [class.disabled]="this.parameterToggle[1]">
                  OPEN
                </ion-text>
              </ion-row>
              <ion-row class="window-2">
                <img
                  [class.disabled]="this.parameterToggle[1]"
                  src="../../assets/custom/window-2.svg"
                  class="window-icon" />
                <ion-text
                  class="lato-bo title"
                  [class.disabled]="this.parameterToggle[1]">
                  CLOSE
                </ion-text>
                <ion-toggle
                  class="window-toggle"
                  mode="ios"
                  (ionChange)="checkWindows()"
                  [disabled]="this.parameterToggle[1]"
                  [(ngModel)]="this.window2">
                </ion-toggle>
                <ion-text
                  class="lato-bo title"
                  [class.disabled]="this.parameterToggle[1]">
                  OPEN
                </ion-text>
              </ion-row>

            </ion-grid>
          </ion-slide>

          <!-- BLINDS ACTIVE CARD -->
          <ion-slide
            class="active-card"
            [class.disabled-background]="this.parameterToggle[2]">
            <ion-grid class="active-card-grid">

              <ion-row class="active-icon-row">
                <img class="active-card-icon" [src]="this.parameter[2].path" />
              </ion-row>
              <ion-row class="active-card-title">
                <ion-text
                  class="active-card-title lato-bl"
                  [class.disabled]="this.parameterToggle[2]">
                  {{this.parameter[2].name}}
                </ion-text>
                <ion-toggle
                  class="active-card-toggle manual-auto"
                  [(ngModel)]="this.parameterToggle[2]"
                  mode="ios">
                  <!-- (ionChange)="changeLightsToggle()" -->
                </ion-toggle>
              </ion-row>

              <ion-row class="active-card-btn">
                <ion-button
                  (click)="onClickUp()"
                  [style.--background]="this.parameterValues[2] === 'up' ?
                  'var(--ion-color-success)' : 'var(--ion-color-light)'"
                  class="lato-bo main-btn"
                  [disabled]="this.parameterToggle[2]">
                  UP
                </ion-button>
                <ion-button
                  (click)="onClickDown()"
                  [style.--background]="this.parameterValues[2] === 'down' ?
                  'var(--ion-color-success)' : 'var(--ion-color-light)'"
                  class="lato-bo main-btn"
                  [disabled]="this.parameterToggle[2]">
                  DOWN
                </ion-button>
              </ion-row>

              <ion-row class="light-1">
                <img
                  [class.disabled]="this.parameterToggle[2]"
                  src="../../assets/custom/blind-1.svg"
                  class="main-card-icon" />
                <ion-range
                  min="0"
                  max="100"
                  step="25"
                  snaps="true"
                  mode="md"
                  [disabled]="this.parameterToggle[2]"
                  [(ngModel)]="this.blindsRangeVal"
                  (ionChange)="sliderBlindsChange()">
                </ion-range>
              </ion-row>
              <ion-row
                class="slider-text"
                [class.disabled]="this.parameterToggle[2]">
                <div class="lato-r angle">up</div>
                <div class="lato-r angle">down</div>
              </ion-row>

              <ion-row class="blinds-angle">
                <ion-text
                  class="angle lato-bo"
                  [class.disabled]="this.parameterToggle[2]">
                  ANGLE:&nbsp;&nbsp;
                </ion-text>
                <ion-range
                  min="0"
                  max="100"
                  step="25"
                  snaps="true"
                  mode="md"
                  class="angle-range"
                  [disabled]="this.parameterToggle[2] || this.blindsRangeVal === 0"
                  [(ngModel)]="this.blindsRangeAngle"
                  (ionChange)="sliderBlindsChange()">
                </ion-range>
              </ion-row>
              <ion-row
                [class.disabled]="this.parameterToggle[2]"
                class="slider-text">
                <div class="lato-r angle">more light</div>
                <div class="lato-r angle">less light</div>
              </ion-row>

              <ion-row class="blinds-1">
                <img
                  [class.disabled]="this.parameterToggle[2]"
                  src="../../assets/custom/blind-2.svg"
                  class="main-card-icon" />
                <ion-range
                  min="0"
                  max="100"
                  step="25"
                  snaps="true"
                  mode="md"
                  [disabled]="this.parameterToggle[2]"
                  [(ngModel)]="this.blindsRangeVal2"
                  (ionChange)="sliderBlindsChange()">
                </ion-range>
              </ion-row>
              <ion-row
                class="slider-text"
                [class.disabled]="this.parameterToggle[2]">
                <div class="lato-r angle">up</div>
                <div class="lato-r angle">down</div>
              </ion-row>

              <ion-row class="blinds-angle">
                <ion-text
                  class="angle lato-bo"
                  [class.disabled]="this.parameterToggle[2]">
                  ANGLE:&nbsp;&nbsp;
                </ion-text>
                <ion-range
                  min="0"
                  max="100"
                  step="25"
                  snaps="true"
                  mode="md"
                  [disabled]="this.parameterToggle[2] || this.blindsRangeVal2 === 0"
                  [(ngModel)]="this.blindsRangeAngle2"
                  (ionChange)="sliderBlindsChange()">
                </ion-range>
              </ion-row>
              <ion-row
                [class.disabled]="this.parameterToggle[2]"
                class="slider-text">
                <div class="lato-r angle">more light</div>
                <div class="lato-r angle">less light</div>
              </ion-row>
            </ion-grid>
          </ion-slide>

          <!-- AIR CONDITIONER ACTIVE CARD -->
          <ion-slide
            class="active-card"
            [class.disabled-background]="this.parameterToggle[3]">
            <ion-grid class="active-card-grid">

              <ion-row class="active-icon-row">
                <img class="active-card-icon" [src]="this.parameter[3].path" />
              </ion-row>
              <ion-row class="active-card-title">
                <ion-text
                  class="active-card-title lato-bl"
                  [class.disabled]="this.parameterToggle[3]"
                  *ngIf="this.innerWidth >= 410">
                  {{this.parameter[3].name}}
                </ion-text>
                <ion-text
                  class="active-card-title lato-bl"
                  [class.disabled]="this.parameterToggle[3]"
                  *ngIf="this.innerWidth < 410">
                  {{this.parameter[3].tag}}
                </ion-text>
                <ion-toggle
                  class="active-card-toggle manual-auto"
                  [(ngModel)]="this.parameterToggle[3]"
                  mode="ios">
                </ion-toggle>
              </ion-row>

              <ion-row class="active-card-btn">
                <ion-button
                  (click)="onClickACOff()"
                  [style.--background]="this.parameterValues[3] === 'off' ?
                  'var(--ion-color-danger)' : 'var(--ion-color-light)'"
                  class="lato-bo main-btn"
                  [disabled]="this.parameterToggle[3]">
                  OFF
                </ion-button>
                <ion-button
                  (click)="onClickACOn()"
                  [style.--background]="this.parameterValues[3] !== 'off' ?
                  'var(--ion-color-danger)' : 'var(--ion-color-light)'"
                  class="lato-bo main-btn"
                  [disabled]="this.parameterToggle[3]">
                  ON
                </ion-button>
              </ion-row>

              <div class="ac">
                <div class="ac-col">
                  <div>
                    <ion-label
                      [class.disabled]="this.parameterToggle[3]"
                      class="lato-r">
                      <b>SET TO:</b> (°C)
                    </ion-label>
                    <ion-input
                      type="number"
                      class="lato-bl number-input"
                      [class.disabled]="this.parameterToggle[3]"
                      [disabled]="this.parameterToggle[3]"
                      value={{this.acSliderVal}}
                      min="16"
                      max="30"></ion-input>
                  </div>
                  <div class="ac-buttons">
                    <ion-label
                      [class.disabled]="this.parameterToggle[3]"
                      class="lato-bo">
                      FAN:
                    </ion-label>
                    <ion-button
                      size="small"
                      class="ac-btn"
                      [disabled]="this.parameterValues[3] === 'off' ||
                      this.parameterToggle[3]"
                      (click)="onClickReduce()"
                      [style.--background]="this.fanReduce ?
                      'var(--ion-color-danger)' : 'var(--ion-color-light)'">
                      REDUCE
                    </ion-button>
                    <ion-button
                      size="small"
                      class="ac-btn"
                      [disabled]="this.parameterValues[3] === 'off' ||
                      this.parameterToggle[3]"
                      (click)="onClickSwitchOff()"
                      [style.--background]="this.fanOff ?
                      'var(--ion-color-danger)' : 'var(--ion-color-light)'">
                      SWITCH OFF
                    </ion-button>
                  </div>

                </div>
                <div class="ac-col2">
                  <input
                    #acSlider
                    class="ac-slider"
                    style="transform: rotate(270deg)"
                    type="range"
                    min="16"
                    max="30"
                    step="1"
                    [class.disabled]="this.parameterToggle[3]"
                    [disabled]="this.parameterToggle[3]"
                    (ngModelChange)="changeTemperature()"
                    [(ngModel)]="this.acSliderVal" />
                </div>

                <!-- <ion-row class="slider-text">
                <div class="lato-r angle">0</div>
                <div class="lato-r angle">100%</div>
              </ion-row> -->
              </div>
            </ion-grid>
          </ion-slide>

        </ion-slides>
      </div>
    </div>
  </div>
</ion-content>
