.homepage {
  @media (min-width: 576px) {
    height: 100vh;
    width: 100vw;
    background-color: var(--ion-color-dark);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 576px) {
    height: 100vh;
    width: 100vw;
  }
}

.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  background-color: #fff;
  
  @media (max-width: 768px) {
    height: 100vh;
    width: 100vw;
  }

  @media (min-width: 768px) {
    height: 720px;
    width: 600px;
    padding: 1rem;
    border: solid 1px black;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 2%;
  }
}

.page-title {
  font-size: 1.3rem;
  letter-spacing: 1px;
  padding-left: 1rem;
  padding-top: 1rem;

  @media (min-width: 768px) {
    padding-top: 0;
  }
}

.mode-container {
  margin-top: 1rem;
  width: 100%;
}

.mode-text {
  font-size: 1.2rem;
  margin-left: 1rem;
}

.toggle-text {
  margin: 1rem;
}

.main-toggle {
  zoom: 1.4;
}

.toggle-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cards-container {
  padding: 0 1rem;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.card-slides {
  width: 100%;
  display: block;
}

.card-slide {
  width: 11rem;
  height: 10rem;
}

.card-component {
  width: 100%;
}

.active-slides {
  width: 100%;
}

.active-card {
  border: solid 1.5px var(--ion-color-dark);
  height: 90%;
  width: 100%;
  border-radius: 7px;
  background-color: rgba(var(--ion-color-medium-rgb), 0.2);
  display: block;
  margin-top: 1.5rem;
}

.active-card-title {
  font-size: 1.8rem;
  letter-spacing: 2px;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.active-card-grid {
  margin: 0px;
  padding: 0 0.5rem 1rem 1.5rem;
  width: 100%;
  height: 100%;

  @media (max-height: 700px) {
    transform: scale(0.9);
    transform-origin: top;
  }
}

.active-card-icon {
  position: relative;
  z-index: 2;
  top: -1.25rem;
  left: -1rem;
}

.active-card-toggle {
  zoom: 1.1;
  position: relative;
  top: -1.25rem;
}

.active-card-btn {
  padding: 0.5rem 0;
  border-bottom: solid 2px var(--ion-color-medium);
  border-width: 100%;
}

.main-btn {
  --box-shadow: none;
  --border-width: 1.5px;
  --border-color: var(--ion-color-dark);
  --border-style: solid;

  width: 5rem;
  height: 2.25rem;
  margin-right: 2rem;
  font-size: 1.1rem;

  @media (max-width: 340px) {
    margin-right: 1rem;
  }
}

.disabled {
  background-color: rgba(var(--ion-color-medium-rgb), 0.1);
}

.disabled {
  opacity: 0.7;
}

.brightness-row {
  padding-top: 1.5rem;
  padding-left: 3rem;
}

.main-card-icon {
  padding-right: 1rem;
}

.light-1 {
  display: flex;
  align-items: center;
  padding-top: 0.5rem;
}

.slider-text {
  padding-left: 3.5rem;
  padding-right: 0.3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -0.4rem;
}

.window-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.5rem;
  padding-right: 3em;
}

.window-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2.5rem;
  padding-right: 3em;
}

.window-toggle {
  --background: var(--ion-color-medium);
  --background-checked: var(--ion-color-medium);
  --handle-background: var(--ion-color-dark);
  --handle-background-checked: var(--ion-color-dark);
}

.blinds-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.7rem;
}

.blinds-angle {
  display: flex;
  align-items: center;
}

.angle {
  font-size: 0.9rem;
}

.angle-range {
  opacity: 0.8;
}

.ac {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 50vh;
  padding-top: 1.5rem;
}

.ac-col {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.ac-col2 {
  height: 80%;
  width: 100%;
  max-width: 30vh;
  position: relative;
  left: 5rem;
}

.ac-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.ac-btn {
  --border-color: var(--ion-color-dark);
  --border-style: solid;
  --border-width: 1px;
}

.number-input {
  font-size: 1.7rem;
  height: 1.9rem;
  padding-left: 1rem;
}

.ac-slider {
  width: 200px;
  position: relative;
  left: 8vw;
  bottom: 10vh;

  @media (min-width: 768px){
    bottom: 15vh;
  }
}
